body
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family:"Roboto",sans-serif;
}
a
{
    color: #303030;
}
*
{
    text-decoration: none;
}

main
{
    margin: 0 auto auto auto;   
}
.label-projet
{
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;

}
.label-edit
{
    margin-top: 100px;
}

header
{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
footer
{
    text-align: center;
    background-color: gainsboro;
    height: 50px; 
}
footer p
{
    margin-top: 10px;  
}
.btn-add
{
   border-style: none;
   background-color: gainsboro;
   width: 100px;
   height: 30px;
   margin-right: -40px;
   border-radius: 4px;
}
.buttons
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.btn-add a
{
    color:#303030 ;
}
header img
{
     width: 60px;
     margin-right: 40px;   
}

.container 
{
    width: 700px;
    margin: 0 auto;
    text-align: right;
}

table
{
    width: 120%;
    border: 1px solid gray;
    border-collapse: separate;
    text-align: center;
    justify-content: center;
    margin-top: 50px ;
    margin-left: -100px;
}

table th 
{
    background-color: gainsboro;
}

table th, td 
{
    padding: 10px;
}
tr
{
    color: black;
}
form 
{
    text-align: center;
}



.btn 
{
    display: inline-block;
    background-color: green;
    color: white;
    padding: 4px 10px;
    text-decoration: none;
    border-radius: 5px;
}
/*******************HTML PROJET*********************/
.main-projet
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;

}
/***************EDIT*****************/
.main-edit label
{
    margin-left: -100px;
}
.main-edit textarea
{
    width: 90%;
    min-width: 80%;
}
.input-edit
{
    width: 90%;
}

.btn-retour 
{
    float: left;
    color: #303030;
}
tr td a
{
    color:  #303030;
}
@media screen and (max-width:800px) {
        .input-edit
        {
            width:60%;

        }
        .main-edit textarea
        {
            width: 60%;
        }
        table 
        {
            width: 180%;
        }
        .container
        {
            width: 90%;
        }
  }
